%h2= title
.ui.styled.accordion{:id => "acc#{accordion_index}"}
  - elements.each_with_index do | element, index |
    .title{:item_id => index, :accordion_id => "acc#{accordion_index}"}
      %i.dropdown.icon.black
      = element[:title]
    .content
      %p= sanitize element[:content]
%br