- if total == 1
  %div
- else
  .ui.compact.menu{style: 'position: absolute; bottom: 3em;'}
    - if total <= 6
      - for i in 0...total
        %a.item= i + 1
    - else
      %a.item < 
      - if page > (total - 4)
        - for i in (total - 2)...total
          %a.item= i - 2
      - else
        - for i in page...(page + 2)
          %a.item= i + 1
      %a.item.disabled= "..."
      - for i in (total - 2)...total
        %a.item= i + 1
      - if page == total
        %a.item.disabled > 
      - else
        %a.item > 