%p= "Numbers of tries: #{@tries_counter || 0}"
%p= "First Time: #{Time.at(@first_time || 0).utc.strftime('%H:%M:%S') || 0}"
%p= "Total Pursue: $#{@total_pursue || 0}"

%h1 Overall

%table
  %thead
    %tr
      %th
      %th Competitor
      %th Duration

  %tbody
    - i = 0
    - @competitors.each do |competitor|
      - i += 1
      %tr
        %td= "##{i}"
        %td
          %img.ui.mini.circular.image{src: competitor.image}
        %td= competitor.name
        %td= "Time: #{Time.at(competitor.duration).utc.strftime('%H:%M:%S')}"
        - case i
        - when 1
          %td= "$#{@first_prize}"
        - when 2
          %td= "$#{@second_prize}"
        - when 3
          %td= "$#{@third_prize}"
        - else
          %td $0
