%h2 General Classification
%table
  %thead
    %tr
      %th
      %th Competitor
      %th Duration

  %tbody
    - i = 0
    - @competitors.each do |competitor|
      - i += 1
      %tr
        %td= "##{i}"
        %td
          %img.ui.mini.circular.image{src: competitor.image}
        %td= competitor.name
        %td= "Time: #{Time.at(competitor.duration).utc.strftime('%H:%M:%S')}"
        - case i
        - when 1
          %td= "$#{@results[:prizes][:first]}"
        - when 2
          %td= "$#{@results[:prizes][:second]}"
        - when 3
          %td= "$#{@results[:prizes][:third]}"
        - else
          %td $0

= paginate @competitors
