.race-search-container
  = form_with(url: races_path, method: 'get', local: true, class: 'search') do
    .ui.icon.input.search-item
      = text_field_tag :name, nil, placeholder: 'Search race name', value: @params.nil? ? '' : @params['name']
      %i.search.icon.gray
    .ui.selection.dropdown.search-item
      %input{:name => :time, :type => 'hidden', value: @params.nil? ? '' : @params['time']}/
      %i.dropdown.icon.gray
      .default.text Current Races
      .scrollhint.menu
        .item{'data-value' => 'current'} Current races
        .item{'data-value' => 'upcoming'} Upcoming races
    .ui.selection.dropdown.search-item
      %input{:name => :distance, :type => 'hidden', value: @params.nil? ? '' : @params['distance']}/
      %i.dropdown.icon.gray
      .default.text Distance
      .scrollhint.menu
        .item{'data-value' => '20'} Up to 20km
        .item{'data-value' => '10'} Up to 10km
        .item{'data-value' => '5'} Up to 5km
        .item{'data-value' => '1000000'} Any distance
    - if current_user.present? && (policy(current_user).admin? || policy(current_user).race_admin?)
      = link_to 'New Race', new_race_path, class: 'ui right floated button dark-blue'
    - if @params
      = link_to 'Clear', races_path, class: 'ui right floated button'
    = submit_tag 'Search', class: 'ui right floated button'
.race-list-container
  .ui.stackable.grid
    .three.column.row
      - @races.each do | race |
        - if current_user.present?
          -  registered = Registration.user_registered_and_paid?(current_user, race)
          .column
            = render partial: 'components/race-card', locals: {race: race, registered: registered}
        - else
          .column
            = render partial: 'components/race-card', locals: {race: race}
