%h1 Current Races
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Country
      %th State
      %th City
      %th Enddate
      %th
      %th
      %th

  %tbody
    - @races.each do |race|
      %tr
        %td= race.title
        %td= race.description
        %td= race.country
        %td= race.state
        %td= race.city
        %td= race.enddate
        %td= link_to 'Show', race
        %td= link_to 'Edit', edit_race_path(race)
        %td= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Race', new_race_path
