-# = render partial: 'shared/search'
-# = render partial: 'list'

-# %br

-# - if current_user.present? && (policy(current_user).admin? || policy(current_user).race_admin?)
-#   = link_to 'New Race', new_race_path

-##########
.race-list-container
  -# Search races
  = form_with(url: races_path, method: 'get', local: true) do
    .ui.action.input
      = text_field_tag :q, nil, placeholder: 'Search race name'
      = button_tag type: 'submit', class: 'ui icon button' do
        %i.search.icon.gray
    .ui.selection.dropdown
      %input{:name => 'any1', :type => 'hidden'}/
      %i.dropdown.icon.gray
      .default.text Current Races
      .scrollhint.menu
        .item{'data-value' => '0'} Current races
        .item{'data-value' => '1'} Upcoming races
    .ui.selection.dropdown
      %input{:name => 'any2', :type => 'hidden'}/
      %i.dropdown.icon.gray
      .default.text Distance
      .scrollhint.menu
        .item{'data-value' => '0'} Up to 20km
        .item{'data-value' => '1'} Up to 10km
        .item{'data-value' => '2'} Up to 5km
        .item{'data-value' => '3'} Less than 5km
        .item{'data-value' => '4'} Any distance
    .ui.selection.dropdown
      %input{:name => 'any3', :type => 'hidden'}/
      %i.dropdown.icon.gray
      .default.text Number Registered
      .scrollhint.menu
        .item{'data-value' => '0'} Up to 200
        .item{'data-value' => '1'} Up to 100
        .item{'data-value' => '2'} Up to 50
        .item{'data-value' => '3'} Less than 10
        .item{'data-value' => '4'} Any number
  %br
  -# List races
  .ui.stackable.grid
    .three.column.row
      - @races.each do | race |
        - if current_user.present?
          -  registered = Registration.user_registered_and_paid?(current_user, race)
          .column
            = render partial: 'components/race-card', locals: {race: race, registered: registered}
        - else
          .column
            = render partial: 'components/race-card', locals: {race: race}
