-# = render partial: 'shared/search'
-# = render partial: 'list'

-# %br

-# - if current_user.present? && (policy(current_user).admin? || policy(current_user).race_admin?)
-#   = link_to 'New Race', new_race_path

-##########
.race-list-container
  -# Search races
  = form_with(url: races_path, method: 'get', local: true) do
    .ui.action.input
      = text_field_tag :name, nil, placeholder: 'Search race name'
    .ui.selection.dropdown
      %input{:name => :time, :type => 'hidden', :value => (@params ? 'uwu': 'ono')}/
      %i.dropdown.icon.gray
      .default.text Current Races
      .scrollhint.menu
        .item{'data-value' => 'current'} Current races
        .item{'data-value' => 'upcoming'} Upcoming races
    .ui.selection.dropdown
      %input{:name => :distance, :type => 'hidden'}/
      %i.dropdown.icon.gray
      .default.text Distance
      .scrollhint.menu
        .item{'data-value' => '20'} Up to 20km
        .item{'data-value' => '10'} Up to 10km
        .item{'data-value' => '5'} Up to 5km
        .item{'data-value' => '1000000'} Any distance
    = button_tag 'Search', type: 'submit', class: 'ui button'
    = link_to 'Clear', races_path, class: 'ui button'
  %br
  -# List races
  .ui.stackable.grid
    .three.column.row
      - @races.each do | race |
        - if current_user.present?
          -  registered = Registration.user_registered_and_paid?(current_user, race)
          .column
            = render partial: 'components/race-card', locals: {race: race, registered: registered}
        - else
          .column
            = render partial: 'components/race-card', locals: {race: race}
