%br
%h3= @personal[:overall_ranking]
%h3= @personal[:category_ranking]
%h3= @personal[:current_prize]
%br
- @personal[:segment_activity].each do |segment|
  %p= "On #{Time.at(segment.start).utc.strftime('%d/%m/%y')} made #{Time.at(segment.duration).utc.strftime('%H:%M:%S')}"