.nav-container
  = render :partial => 'components/breadcrumb', :locals => {:nav => [{:name => 'Races', :path => '/races'}, {:name => @race.title, :path => "/races/#{@race.id}"}, {:name => 'Personal race status'}]}
.leaderboard-shared-container
  .stats-cards-container
    .ui.stackable.grid
      .three.column.row
        .column
          = render :partial => 'components/stats-card', :locals => {:name => 'Overall Ranking', :icon => 'trophy-icon.svg', :number => '2nd'}
        .column
          = render :partial => 'components/stats-card', :locals => {:name => 'Category Ranking', :icon => 'trophy-icon.svg', :number => '1st'}
        .column
          = render :partial => 'components/stats-card', :locals => {:name => 'Cuurrent Prize', :icon => 'leaderboard-purse-icon.svg', :number => '$100.00'}
  .segment-activity-container
    %h2 Segment Activity
    %table.ui.striped.table
      %tbody
        %tr
          %td
            .segment-container
              %i.green.caret.up.icon
              %span.segment-desc= 'On 17/04/2021 at 8:00 AM made 1:00 hr'
        %tr
          %td
            .segment-container
              %i.grey.caret.right.icon
              %span.segment-desc= 'On 16/04/2021 at 8:00 PM made 1:45 hr'
        %tr
          %td
            .segment-container
              %i.grey.caret.right.icon
              %span.segment-desc= 'On 16/04/2021 at 8:00 AM made 1:15 hr'