%p#notice= notice

%div.title= @race.title

%div.center
  %div.description= @race.description

%div.enddate= "Registration closes on #{@race.enddate.strftime("%d of %B, %Y")}"

%div.center
  %button.register_button{type: 'button'} Register with Strava

%div.short_text or

%div.center
  %button.live_results_button{type: 'button'} Live Results


.ui.vertically.divided.grid
  .six.column.row
    .column.center
    .column.center
      %img.medium.ui.image{:src => "/assets/fake.png", :height => "200px", :width => "200px"}/

    .column.center
    .column.center

    .column.center
      %img.medium.ui.image{:src => "/assets/fake.png", :height => "200px", :width => "200px"}/
    .column.center

%div.map
  %div#map{:style => "height: 600px"}

- if current_user.present? && (policy(current_user).admin? || policy(@race).edit?)
  = link_to 'Edit', edit_race_path(@race)
  \|
= link_to 'Back', races_path

:javascript
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: #{@lat}, lng: #{@lng} ,
      },
      zoom: 17,
      mapTypeIds: ['roadmap' , 'satellite', 'hybrid', 'terrain', 'styled_map']

    });

    var encoded_data = "#{@race.all_data['map']['polyline']}";

    var decode = google.maps.geometry.encoding.decodePath(encoded_data);

    var line = new google.maps.Polyline({
      path: decode,
      strokeColor: '#E23510',
      strokeOpacity: 1.0,
      strokeWeight: 4,
      zIndex: 3
    });

    line.setMap(map);
  }

  initMap();
