.race-details-background
  .container 
    .ui.grid
      .row
        .sixteen.wide.column
          %h1.title= @race.title
      .row
        .sixteen.wide.column
          %p.desc= @race.description
      .row
        .sixteen.wide.column
          - if !current_user
            .ui.button.large.light-blue.race-details-button
              = link_to 'Sign up', new_user_session_path, class: 'link-to-button'
          - elsif current_user && @registered.empty?
            .ui.button.large.light-blue.race-details-button
              %a{href: "/races/#{@race.id}/registration/new", class: 'link-to-button'} Register now
          - elsif current_user && !@registered.empty?
            .ui.disabled.button.large.light-blue.race-details-button Already registered!
          .ui.inverted.button.large.race-details-button
            %a{href: "/races/#{@race.id}", class: 'link-to-inverted-button'} Live results
.enddate-container
  %p.text= "Registation closes on #{@race.enddate.strftime('%B %d, %Y')}"
.race-details-container
  .ui.stackable.grid
    .row
      .eight.wide.column
        %h1{class: 'race-name'}= @race.title
        %p{class: 'price'}= "$#{@race.price.to_i}"
        %h2 Description
        %p{class: 'desc'}= @race.description
      .eight.wide.column
        .ui.button.large.light-blue.register
          %a{href: "/races/#{@race.id}/registration/new", class: 'link-to-button'} Register now
        - if current_user.present? && (policy(current_user).admin? || policy(@race).edit?)
          .ui.button.large.light-blue.register
            = link_to 'Edit race', edit_race_path(@race), class: 'link-to-button'
        .map-container#map{ 
          "data-polyline" => "#{@race.all_data['map']['polyline']}",
          "data-lat" => "#{@lat}", 
          "data-lng" => "#{@lng}", 
          :class => "race-map"
        }