%p#notice= notice

%div.title= @race.title

%div.center
  %div.description= @race.description

%div.enddate= "Registration closes on #{@race.enddate.strftime("%d of %B, %Y")}"

%div.center
  - if !current_user
    %a.ui.register_strava_button_link.button{href: '/users/sign_in'} You must register first through Strava
  - elsif current_user && @registered.empty?
    %a.ui.register_strava_button_link.button{href: "/races/#{@race.id}/registration/new"} Register to race
  - elsif current_user && !@registered.empty?
    %a.ui.positive.button{href: '#'} Already registered

%div.short_text or

%div.center
  %button.live_results_button{type: 'button'} Live Results


.ui.vertically.divided.grid
  .six.column.row
    .column.center
    .column.center
      %img.medium.ui.image{:src => "/assets/fake.png", :height => "200px", :width => "200px"}/

    .column.center
    .column.center

    .column.center
      %img.medium.ui.image{:src => "/assets/fake.png", :height => "200px", :width => "200px"}/
    .column.center

%div.map
  %div#map{"data-polyline" => "#{@race.all_data['map']['polyline']}",
  "data-lat" => "#{@lat}", "data-lng" => "#{@lng}", :style => "height: 600px"}

- if current_user.present? && (policy(current_user).admin? || policy(@race).edit?)
  = link_to 'Edit', edit_race_path(@race)
  \|
= link_to 'Back', races_path
