%p#notice= notice

%p
  %b Title:
  = @race.title
%p
  %b Description:
  = @race.description
%p
  %b Country:
  = @race.country
%p
  %b State:
  = @race.state
%p
  %b City:
  = @race.city
%p
  %b Enddate:
  = @race.enddate

- if current_user.present? && (policy(current_user).admin? || policy(@race).edit?)
  = link_to 'Edit', edit_race_path(@race)
  \|
= link_to 'Back', races_path
