.banner
  .ui.sixteen.column.centered.grid
    .row
      .sixteen.wide.column
        %p About us
-# TODO: Make the banner a shared component
.story-container
  .ui.stackable.centered.grid
    .row
      .ten.wide.column
        %h1 Our Story
        %p Here at Virtual Dash we believe that people to make a living doing things they enjoy. Netus turpis eget lectus. Luctus eget sapien fringilla magna. Turpis nisi, at est porttitor adipiscing pharetra felis, aliquet a. Quisque quam venenatis magna ipsum amet eget. Venenatis.
        %br
        .image-grid
          .ui.stackable.centered.grid
            .row
              .five.wide.column
                = image_tag 'about/left.jpg', alt: 'Meeting'
              .five.wide.column
                = image_tag 'about/up.jpg', alt: 'Racing'
                = image_tag 'about/down.jpg', alt: 'Sharing'
              .five.wide.column
                = image_tag 'about/right.jpg', alt: 'Caring'
.values-container
  .ui.stackable.centered.grid
    .row
      .ten.wide.column
        .ui.stackable.centered.grid
          .row
            .six.wide.column
              = image_tag 'about/values.jpg', alt: 'Our Values', class: 'img'
            .two.wide.column
            .eight.wide.column
              .values-container
                %h1 Our values 
                %p.value Our Mision
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus facilisis fusce purus viverra eu. Nisi amet, lectus ut leo cursus pellentesque molestie dignissim arcu. 
                %p.value Our Vision
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus facilisis fusce purus viverra eu. Nisi amet, lectus ut leo cursus pellentesque molestie dignissim arcu. 
                %p.value Our Goal
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus facilisis fusce purus viverra eu. Nisi amet, lectus ut leo cursus pellentesque molestie dignissim arcu. 
.team-container
  .ui.stackable.centered.grid
    .row
      .ten.wide.column
        %h1 Our Team
        %p Here at Virtual Dash we believe that people to make a living doing things they enjoy.
        %br
        .ui.stackable.centered.grid
          .row
            .five.wide.column
              = image_tag 'about/luisortega.jpg', alt: 'Luis Angel Ortega', class: 'team'
              %p.name Luis Angel Ortega
              %p.title Software Developer
            .five.wide.column
              = image_tag 'about/victorfernandez.jpg', alt: 'Victor Fern치ndez', class: 'team'
              %p.name Victor Fern치ndez
              %p.title CEO & Founder
            .five.wide.column
              = image_tag 'about/luisgonzalez.jpg', alt: 'Luis Angel Gonz치lez', class: 'team'
              %p.name Luis Angel Gonz치lez
              %p.title Digital Designer