.welcome-background
  .welcome-container 
    .ui.grid
      .row
        .sixteen.wide.column
          %h1.title VIRTUAL RACING IN YOUR OWN COMFORT SPACE
      .row
        .sixteen.wide.column
          %p.desc Race other bikers virtually on any course using Virtual Dash. Easily register online, race by yourself or with friends on any of the virtual races at any time, and win money prices. 
      .row
        .sixteen.wide.column
          .ui.button.large.light-blue
            = link_to 'Explore races', new_user_session_path, class: 'link-to-button'
.ui.stackable.centered.grid
  .row
    .ten.wide.column 
      .features-container
        .ui.stackable.centered.grid
          .row
            .sixteen.wide.column
              .centered-title
                %h3 Racing Features
                %p Race other bikers virtually on any course using Virtual Dash. 
          .row
            .five.wide.column
              .features-item
                = image_tag 'landing/easy.svg', alt: 'Easy to use', class: ''
                %h5 Easy to use
                %p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .five.wide.column
              .features-item
                = image_tag 'landing/cash.svg', alt: 'Win money prizes', class: ''
                %h5 Win money prizes
                %p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .five.wide.column
              .features-item
                = image_tag 'landing/plus.svg', alt: 'Race safely', class: ''
                %h5 Race safely
                %p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  .row
    .ten.wide.column
      .features-container
        .ui.stackable.centered.grid
          .row
            .sixteen.wide.column
              .centered-title
                %h3 
                  Who is 
                  %mark Virtual Dash 
                  for?
                %p Virtual Dash is an online platform that allows runners from all over the world to compete against each other virtually.
          .row
            .eight.wide.column
              %div 
              = image_tag 'landing/athlete.jpg', alt: 'Virtual Dash for Athletes'
              %p.who For Race Runners
            .eight.wide.column
              = image_tag 'landing/admin.jpg', alt: 'Virtual Dash for Administrators'
              %p.who For Race Administrators
  .row
    .fourteen.wide.column
      .racers-container
        .ui.stackable.two.column.grid
          .row.first-row
            .eight.wide.column
              = image_tag 'landing/virtual-racer-1.jpg', alt: 'Virtual Racer 1', class: 'first-virtual-racer'
            .eight.wide.column
              .text-container
                %h1.race-heading Race at any time that is convenient for you.
                %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
          .row
            .eight.wide.column.right-inverted
              = image_tag 'landing/virtual-racer-2.jpg', alt: 'Virtual Racer 2', class: 'second-virtual-racer'
            .eight.wide.column.left-inverted
              .text-container
                %h1.race-heading Win price money after each race
                %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
  .row
    
          
