:css
  h2 {
    font-size: 1.5em !important;
  }
  p {
    font-size: 1em !important;
  }
  small {
    font-size: 0.875em !important;
  }
  .alt {
    margin-top: 0.625em;
  }
  .button {
    color: white !important;
    margin-top: 2.5em !important;
    background-color: #081f3f !important;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    h2 {
      font-size: 1.3em !important;
    }
    p {
      font-size: 0.9em !important;
    }
    small {
      font-size: 0.7em !important;
    }
  }
%h2= "#{@user[:first_name]}, your postion has changed!"
%p= "On #{@race[:title]} you now rank #{@place} place on the leaderboard."
= link_to 'Open Virtual Dash', leaderboard_race_url(@race[:id]), class: 'ui fluid button'
.alt
  %small 
    Or paste 
    = link_to "virtualdash.co/races/#{@race[:id]}/leaderboard", leaderboard_race_url(@race[:id]), class: 'anchor'
    in your browser.