.ui.secondary.fixed.menu.header-container
  %a.item{:href => '/', class: 'no-hover'}
    = image_tag('logos/logo.svg', alt: 'Virtual Dash', class: 'logo-nav')
  .right.menu.mobile-nav
    - if not user_signed_in?
      .header.item
        = link_to 'Log in', new_user_session_path, class: 'ui mini button light-blue'
      .header.item
        = link_to 'Register', new_user_session_path, class: 'ui mini button dark-blue'
    - else
      %object{data: current_user.image, type: 'image/jpg', class: 'profile-pic'}
        = image_tag 'default-user.jpg', alt: 'Profile pic', class: 'profile-pic'
    %button.big.ui.icon.button.mobile-menu#mobile-menu-button
      %i.bars.icon.black
  .right.menu.desktop-nav
    = link_to 'Races', races_path, class: 'item header'
    = link_to 'About', about_path, class: 'item header'
    - if user_signed_in?
      = link_to 'Activity', activity_path, class: 'item header'
    = link_to 'Help', help_path, class: 'item header'
    - if not user_signed_in?
      .auth-buttons 
        .ui.button.light-blue
          = link_to 'Log in', new_user_session_path, class: 'link-to-button'
        .ui.button.dark-blue
          = link_to 'Register', new_user_session_path, class: 'link-to-button'
    - else
      .ui.simple.dropdown.item
        %object{data: current_user.image, type: 'image/jpg', class: 'profile-pic'}
          = image_tag 'default-user.jpg', alt: 'Profile pic', class: 'profile-pic'
        = current_user.name
        %i.dropdown.icon.black
        .menu
          = link_to edit_user_registration_path, class: 'item' do
            %i.user.icon.black 
            Profile
          - if policy(current_user).admin?
            = link_to rails_admin_path, class: 'item' do
              %i.coffee.icon.black 
              Admin
          = link_to destroy_user_session_path, method: :delete, class: 'item' do
            %i.sign.out.alternate.icon.black 
            Sign out