.ui.secondary.fixed.menu.header-container
  %a.item{:href => '/', class: 'no-hover'}
    = image_tag('logos/logo.svg', alt: 'Virtual Dash', class: 'logo-nav')
  - if current_user.present? && policy(current_user).admin?
    %a.header.item{:href => "/admin"} Admin
  .right.menu.mobile-nav
    %button.huge.ui.icon.button.mobile-menu#mobile-menu-button
      %i.bars.icon.black
  .right.menu.desktop-nav
    %a.item.header{:href => '/about'}
      About
    %a.item.header{:href => '/races'}
      Races
    %a.item.header{:href => '/help'}
      Help
    - if not user_signed_in?
      .auth-buttons 
        .ui.button.light-blue
          = link_to 'Log in', new_user_session_path, class: 'link-to-button'
        .ui.button.dark-blue
          = link_to 'Register', new_user_session_path, class: 'link-to-button'
    - else
      .ui.simple.dropdown.item
        %object{data: current_user.image, type: 'image/jpg', class: 'profile-pic'}
          = image_tag 'default-user.jpg', alt: 'Profile pic', class: 'profile-pic'
        = current_user.name
        %i.dropdown.icon.black
        .menu
          = link_to edit_user_registration_path, class: 'item' do
            %i.user.icon.black 
            My Profile
          = link_to destroy_user_session_path, method: :delete, class: 'item' do
            %i.power.off.icon.black 
            Log Out